body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0e0e0e;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    color: #fff;
}

.container {
    width: 30%;
    max-width: 900px;
    background: #1a1a1a;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.6);
}

h1 {
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    color: #cccccc;
    margin-bottom: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-primary {
    background: hsl(24, 65%, 73%);
    color: #0e0e0e;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn-primary:hover {
    background: hsl(24, 65%, 73%);
}

.filter-select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #111;
    color: white;
}

.form {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
}

.form input,
.form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #000;
    color: white;
}

.hidden {
    display: none;
}

#errorMsg {
    color: #ff4d4d;
    font-size: 14px;
}

.tarefas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.task-card {
    background: #141414;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    border: 1px solid #222;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.task-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.6);
}

.task-card.completed {
    border-left: 4px solid #3ddc84;
    opacity: 0.75;
}

.task-title {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin: 0 0 5px 0;
}

.task-desc {
    font-size: 14px;
    color: #bbb;
    height: 55px;
    overflow: hidden;
}

.actions .input-check {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid hsl(24, 65%, 73%);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    position: relative;
    background: #000;
    transition: 0.2s ease;
}

.actions .input-check:hover {
    border-color: #56f3a0;
}

.actions .input-check:checked {
    background: #3ddc84;
    border-color: #3ddc84;
    transform: scale(1.05);
}

.actions .input-check:checked::after {
    content: "OK";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #0e0e0e;
    font-weight: bold;
}


.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background: #800505;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.remove-btn:hover {
    background: #d93636;
}










@media (max-width: 750px) {
    .task-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .task-grid {
        grid-template-columns: 1fr;
    }
}
